/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/tenancy/tenants
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/config/database.php
/.metadata
/.project
tenancy.json
composer.lock
/tenancy.json
/.buildpath
*.lock
